/* page.module.css */
.hero {
  max-width: 600px;
  margin-bottom: 40px;
}

.title {
  font-family: "GeistMono";
  font-size: 4rem;
  margin-bottom: 0.5rem;
  animation: fadeIn 1s ease-in-out;
  color: var(--primary-color);
}

.subtitle {
  font-family: "GeistSans";
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
  animation: fadeIn 1.5s ease-in-out;
}

.searchBox {
  position: relative;
  display: inline-block;
  width: 100%;
}

.searchInput {
  width: 100%;
  padding: 12px 48px 12px 16px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--text-color);
  outline: none;
  transition: all 0.3s ease-in-out;
  font-family: "GeistSans";
}

.searchInput:focus {
  border-color: var(--secondary-color);
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 160, 255, 0.5);
}

.searchIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #0070f3;
  pointer-events: none;
}

/* List Styles */
.pagesList {
  margin-top: 40px;
  text-align: left;
  max-width: 600px; /* Centering the list */
  width: 100%; /* Full width */
}

.listTitle {
  font-family: "GeistMono";
  font-size: 2rem;
  color: #00aaff;
  margin-bottom: 20px;
}

.pageLinks {
  list-style-type: none;
  padding: 0;
}

.pageLinks li {
  margin-bottom: 10px;
}

.pageLink {
  text-decoration: none;
  color: #0070f3;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease; /* Added transform for hover effect */
}

.pageLink:hover {
  color: #00aaff;
  transform: translateY(-2px); /* Subtle lift effect on hover */
}

/* Fade-in animations for a smooth entrance */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .listTitle {
    font-size: 1.5rem;
  }
}
